.estimator-container {
  max-width: 800px; /* Narrower layout */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.row {
  display: flex;
  gap: 20px; /* Space between inputs */
}

.input-field {
  flex: 1; /* Inputs share equal width */
}

.results {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results-header h3 {
  font-size: 1.5rem;
}

.income-display {
  margin-top: 20px;
}

.income-display h2 {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 10px;
}

.income-display ul {
  list-style-type: none;
  padding: 0;
}

.income-display ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chart-container {
  margin-top: 25px;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  min-height: 300px; /* Ensure sufficient height for the chart */
}

.medium-risk {
  background-color: #d4edda; /* Light green */
  color: #155724;
}

.low-risk {
  background-color: #fff3cd; /* Light yellow */
  color: #856404;
}

.high-risk {
  background-color: #f8d7da; /* Light red */
  color: #721c24;
}

mat-option {
  padding: 10px;
  border-radius: 4px;
}

mat-option:hover {
  filter: brightness(90%);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.viewport {
  width: 100%;
  overflow: auto;
  padding: 4px 0;
}
