<!-- Results Section -->
<div class="results">
  <div class="results-header">
    <h3>Your Combined Income</h3>
    <mat-icon
      matTooltip="The total income below includes both premium income and dividend income from your shares."
      matTooltipTouchGestures="on"
    >
      info
    </mat-icon>
  </div>

  <!-- Projection Toggle -->
  <mat-button-toggle-group
    [(ngModel)]="projectionType"
    name="projectionType"
    aria-label="Projection Type"
    (change)="onInputChange()"
  >
    <mat-button-toggle value="yearly">Yearly</mat-button-toggle>
    <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Total Income -->
  <div class="income-display">
    <h2>
      {{ projectionType === 'yearly' ? 'Yearly Income:' : 'Monthly Income:' }}
      ${{ this.totalIncome | number: '1.2-2' }}
    </h2>
    <p>Total income is calculated based on eligible shares:</p>
    <ul>
      <li>
        <strong>Premium Income:</strong> For {{ eligiblePremiumShares() }} shares
        <mat-icon
          matTooltip="Premiums apply only to shares in groups of 100."
          aria-label="Premium Info" matTooltipTouchGestures="on"
        >
          info
        </mat-icon>
      </li>
      <li>
        <strong>Dividend Income:</strong> For all {{ this.shares }} shares
        <mat-icon
          matTooltip="Dividend income is calculated for all shares, regardless of premium eligibility."
          aria-label="Dividend Info" matTooltipTouchGestures="on"
        >
          info
        </mat-icon>
      </li>
    </ul>
  </div>
  <div class="chart-container" *ngIf="incomeBreakdownChart">
    <h4>Income Breakdown
      <mat-icon
        matTooltip="This chart breaks down your total income into contributions from both premium income and dividend income."
        aria-label="Chart Info" class="info-icon" matTooltipTouchGestures="on">
        info
      </mat-icon>
    </h4>
    <canvas
      baseChart
      [data]="incomeBreakdownChart"
      [type]="'bar'"
      [options]="{ responsive: true, scales: { y: { beginAtZero: true } } }"
    ></canvas>
  </div>

</div>
